
STACK_VERSION=8.17.10

# Username และ Password สำหรับ Elasticsearch
ELASTIC_USERNAME=
ELASTIC_PASSWORD=

# ชื่อคลัสเตอร์ Elasticsearch
CLUSTER_NAME=es-docker-cluster

# จำนวน Heap Memory ที่ Elasticsearch ใช้
ES_JAVA_OPTS=-Xms512m -Xmx512m
# ES_JAVA_OPTS=-Xms2g -Xmx2g
# ES_JAVA_OPTS=-Xms4g -Xmx4g

# Disable swapping
BOOTSTRAP_MEMORY_LOCK=true

# เปิดใช้งาน Security (ถ้าต้องการ)
XPACK_SECURITY_ENABLED=false

# โฮสต์ Elasticsearch ที่ Kibana จะเชื่อมต่อ
ELASTICSEARCH_HOSTS=http://es-node-1:9200
